name: Build APK

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
<<<<<<< HEAD
      - uses: actions/checkout@v3
=======
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
>>>>>>> dba6081 (إعداد المشروع وربط GitHub Actions)

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.4' # Matching your project version
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Generate Hive Adapters
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Build APK
        run: flutter build apk --release

      - name: Build AAB
        run: flutter build appbundle --release

      - name: Upload Artifacts
<<<<<<< HEAD
        uses: actions/upload-artifact@v3
=======
        uses: actions/upload-artifact@v4
>>>>>>> dba6081 (إعداد المشروع وربط GitHub Actions)
        with:
          name: release-files
          path: |
            build/app/outputs/flutter-apk/app-release.apk
            build/app/outputs/bundle/release/app-release.aab
